<header class="page-header">
  <h1>About Us</h1>
</header>

<div>
  <h3>Thank you for visiting the jungle! Remeber your bug spray...</h3>
  <p>Need to know more about us? Well, there's not much to say but heres a few things:</p>
    <ul>
      <li>We're awesome</li>
      <li>We're spectacular</li>
      <li>We can dunk</li>
      <li>We love plants</li>
      <li>We love sharing plants with you!</li>
    </ul>
  
    

</div>